
.btn-grey
{
    color: #ffffff;
    background-color: #393939;
    border-color: #393939;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
    color: #ffffff;
    background-color: #494949;
    border-color: #393939;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
    background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
    background-color: #393939;
    border-color: #393939;
}

.btn-grey .badge {
    color: #393939;
    background-color: #ffffff;
}

