<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >  
		<section name="EslCoreWebApplication.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  <section name="Opticon.EslControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />  
	</sectionGroup>  	
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <Opticon.EslControl.Properties.Settings>
      <setting name="BaseStations" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
	  <setting name="BaseStationScanList" serializeAs="Xml">
        <value>
			<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			</ArrayOfString>
        </value>
      </setting>	  
      <setting name="ActivationKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ImageFolder" serializeAs="String">
        <value>Output/Images</value>
      </setting>
      <setting name="IdFieldNr" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OseCommport" serializeAs="String">
        <value />
      </setting>
      <setting name="InputFolder" serializeAs="String">
        <value>Input</value>
      </setting>
      <setting name="DefaultTemplateFile" serializeAs="String">
        <value>TemplateSelect.xml</value>
      </setting>
      <setting name="TemplateFolder" serializeAs="String">
        <value>Templates</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value>Output</value>
      </setting>
      <setting name="LogComm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LargeStoreDisplay" serializeAs="String">
        <value>LSD</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="PassWordSessionTimeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InfoTemplateFile" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldSeparator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DecimalSymbol" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="BarcodeFieldNr" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DescriptionFieldNr" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GroupFieldNr" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="LeadingZero" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CreateTerminalFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FromPriceFieldNr" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SellPriceFieldNr" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="DiscountFieldNr" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DatabaseParserUtilFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LogExceptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultImageFormat" serializeAs="String">
        <value>bmp</value>
      </setting>
      <setting name="CurrencySymbol" serializeAs="String">
        <value>€</value>
      </setting>
      <setting name="DbFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlServer" serializeAs="String">
        <value />
      </setting>
	  <setting name="SqlUserId" serializeAs="String">
	    <value />
	  </setting>
	  <setting name="SqlPassword" serializeAs="String">
	    <value />
	  </setting>
      <setting name="SqlDatabase" serializeAs="String">
        <value>esl</value>
      </setting>
      <setting name="SqlPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlProductTable" serializeAs="String">
        <value>products</value>
      </setting>
      <setting name="SqlLinkTable" serializeAs="String">
        <value>links</value>
      </setting>
      <setting name="SqlIdField" serializeAs="String">
        <value>ProductId</value>
      </setting>
      <setting name="SqlGroupField" serializeAs="String">
        <value>Group</value>
      </setting>
      <setting name="SqlDescriptionField" serializeAs="String">
        <value>Description</value>
      </setting>
      <setting name="SqlEslStatusTable" serializeAs="String">
        <value>labelstatus</value>
      </setting>
      <setting name="SqlProductStagingTable" serializeAs="String">
        <value>products_staging</value>
      </setting>
      <setting name="SqlLinkStagingTable" serializeAs="String">
        <value>links_staging</value>
      </setting>
      <setting name="BatteryLowThreshold" serializeAs="String">
        <value>2.8</value>
      </setting>
      <setting name="AllowMacProgramming" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Microsoft Sans Serif</value>
      </setting>
      <setting name="SqlLogMessageTable" serializeAs="String">
        <value>esllog</value>
      </setting>
      <setting name="SqlCultureInfo" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="ApplicationLanguage" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="EnableRfTestMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowChannel27_28" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowDeactivation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlBaseStationTable" serializeAs="String">
        <value>basestationstatus</value>
      </setting>
      <setting name="NeedSettingsUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogDbFormat" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SelectedFilterMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayTestEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RfTestMinLQI" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DefaultImageOnUnlink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StatusUpdateTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="AutoBalancing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBalancingInt" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="AutoBalancingTime" serializeAs="String">
        <value>2014-08-15</value>
      </setting>
      <setting name="SqlBarcodeField" serializeAs="String">
        <value>Barcode</value>
      </setting>
      <setting name="ForwardPolls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlChangeLogTable" serializeAs="String">
        <value>changelog</value>
      </setting>
      <setting name="SqlUserTable" serializeAs="String">
        <value>users</value>
      </setting>
      <setting name="DeactivateRangeStart" serializeAs="String">
        <value>3889DC0000000000</value>
      </setting>
      <setting name="DeactivateRangeEnd" serializeAs="String">
        <value>3889DC0000FFFFFF</value>
      </setting>
      <setting name="SqlFromPriceField" serializeAs="String">
        <value>StandardPrice</value>
      </setting>
      <setting name="SqlSellPriceField" serializeAs="String">
        <value>SellPrice</value>
      </setting>
      <setting name="LogQueries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlEventLogTable" serializeAs="String">
        <value>eventlog</value>
      </setting>
      <setting name="MaxFirmwareRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SqlEventActionTable" serializeAs="String">
        <value>event_actions</value>
      </setting>
      <setting name="TriggerActionsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlProcessStagingInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SqlUpdateIntervalStatusTables" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ReactivateRangeStart" serializeAs="String">
        <value>3889DC0000000000</value>
      </setting>
      <setting name="ReactivateRangeEnd" serializeAs="String">
        <value>3889DC0000FFFFFF</value>
      </setting>
      <setting name="ReactivateVariant" serializeAs="String">
        <value>EE201</value>
      </setting>
      <setting name="FastImageUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Layering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EncryptionHash" serializeAs="String">
        <value />
      </setting>
      <setting name="NfcServerAddress" serializeAs="String">
        <value>http://nfc.opticon.com</value>
      </setting>
      <setting name="NfcUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="NfcPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="NfcRedirectURL" serializeAs="String">
        <value />
      </setting>
      <setting name="NfcEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxLogRecords" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LoadOnlyLinkedProducts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlLinkedProductTable" serializeAs="String">
        <value>products_linked</value>
      </setting>
      <setting name="OdbcDSN" serializeAs="String">
        <value />
      </setting>
      <setting name="OdbcFormat" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ReadOnlyProductTable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StoreImagesInDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlImageTable" serializeAs="String">
        <value>images</value>
      </setting>
      <setting name="SqlServerStatusTable" serializeAs="String">
        <value>serverstatus</value>
      </setting>
      <setting name="EbsUsername" serializeAs="String">
        <value>pi</value>
      </setting>
      <setting name="EbsPassword" serializeAs="String">
        <value>raspberry</value>
      </setting>
      <setting name="CleanUpOnNextStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Default24bppFormat" serializeAs="String">
        <value>png</value>
      </setting>
      <setting name="ConfigFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>ESL_SERVICE</value>
      </setting>
      <setting name="WebServiceEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebServicePort" serializeAs="String">
        <value>8791</value>
      </setting>
      <setting name="WebServiceProtocolXml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CleanUpOptions" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CleanUpPeriod" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CsvExtensions" serializeAs="String">
        <value>.csv|.txt</value>
      </setting>
      <setting name="RoamingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebAppURL" serializeAs="String">
        <value>http://localhost:8015</value>
      </setting>
      <setting name="CloudPushInterval" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="CloudInitialPush" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CloudEndPoint" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CloudSystemName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CloudActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepLogsInMemory" serializeAs="String">
        <value>False</value>
      </setting>
    </Opticon.EslControl.Properties.Settings>
</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>